{{define "sidebar"}}
<div class="col-md-3 blog-sidebar">
  <div class="p-4 mb-3 bg-white rounded shadow-sm">
    <h1><a href="{{ RouteName2URL "articles.index" }}" class="link-dark text-decoration-none">阿豪，加油💪</a></h1>
  </div>

  <div class="p-4 bg-white rounded shadow-sm mb-3">
    <h5>分类</h5>
    <ol class="list-unstyled mb-0">
      <li><a href="#">未分类</a></li>
      <li><a href="#">模板</a></li>
      <li><a href="#">数据库</a></li>
    </ol>
  </div>

  <div class="p-4 bg-white rounded shadow-sm mb-3">
    <h5>作者</h5>
    <ol class="list-unstyled mb-0">
      <li><a href="https://github.com/summerblue">Summer</a></li>
      <li><a href="https://github.com/thisliu">thisliu</a></li>
    </ol>
  </div>

  <div class="p-4 bg-white rounded shadow-sm mb-3">
    <h5>链接</h5>
    <ol class="list-unstyled">
      <li><a href="#">关于我们</a></li>
      <li><a href=" {{ RouteName2URL "auth.register" }}">注册</a></li>
      <li><a href="#">登录</a></li>
    </ol>
  </div>
</div>
{{end}}